/* Disk shape */  
.disk {  
  width: 100px;  
  height: 100px;  
  background-color: #ff0000;  
  border-radius: 50%;  
}  
  
/* Egg shape */  
.egg {  
  width: 120px;  
  height: 150px;  
  background-color: #ffff00;  
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;  
}  
  
/* Heart shape */  
.heart {  
  position: relative;  
  width: 100px;  
  height: 90px;  
}  
  
.heart::before,  
.heart::after {  
  position: absolute;  
  content: "";  
  top: 40px;  
  width: 52px;  
  height: 80px;  
  border-radius: 50px 50px 0 0;  
  background: #ff00ff;  
}  
  
.heart::before {  
  left: 50px;  
  transform: rotate(-45deg);  
  transform-origin: 0 100%;  
}  
  
.heart::after {  
  left: 0;  
  transform: rotate(45deg);  
  transform-origin: 100% 100%;  
}
  heart::after {  
  left: 0;  
  transform: rotate(45deg);  
  transform-origin: 100% 100%;  
}
